## 네이버 뉴스 데이터를 분석하기

이번 데이터는 네이버 뉴스 http://news.naver.com 에 있는 신문기사를 분석하는 작업입니다.

네이버에는 1990년도부터 2018년도까지의 총 100기가가 넘는 뉴스 데이터를 보유하고 있습니다. 오늘의 업무는 이 데이터 중 1990년도의 뉴스 데이터만을 가져와, 뉴스 기사를 정리하거나 특징을 추출하는 작업을 진행하겠습니다.

분석은 저번 시간에 실습했던 내용과 오늘 배운 내용에 더불어, 판다스의 [Working with Text Data](https://pandas.pydata.org/pandas-docs/stable/text.html) 페이지를 적극적으로 참고하는 것을 권장드립니다. 그럼 좋은 결과 있기를 기대하겠습니다!

In [1]:
import pandas as pd

## Load Dataset

In [2]:
data = pd.read_csv("data/news-1990.csv")

print(data.shape)
data.head()

(71193, 3)

,company,content,written_at
0,대전일보,"롯데, 갤러리아, 세이등 지역 3대 백화점이 이번주부터 일제히 대부분의 브랜드가 참...",1990-01-01 10:55:00
1,대전일보,새 해가 되면 우리는 새로운 한 살을 '띠'로 먹는다. 그리고 수많은 새 띠가 탄생...,1990-01-01 10:55:00
2,대전일보,우리나라 주식·채권형 펀드 규모가 매우 영세할 뿐아니라 자금유입도 부진해 기업의 자...,1990-01-01 10:55:00
3,대전일보,"""올해는 시·군·구 병무조직이 폐지되고 전자병무청이 개설되는 등 병무행정이 크게 변...",1990-01-01 10:55:00
4,대전일보,살고 싶어도 함께 더 살 수 없는 2001년은 삭풍에 실려 떠나고 새해가 도착하였습...,1990-01-01 10:55:00

## 실습(초급)

** 1. 다음 단어가 들어가있는 데이터를 색인해주세요. 1) 대회 2) 금메달 **

In [3]:
# write your code here!

In [4]:
# write your code here!

** 2. 1) 대회 또는 2) 금메달이라는 단어 둘 중 하나만 들어간 신문기사를 색인해주세요. **

In [5]:
# write your code here!

** 3. 전체 텍스트의 길이를 구해서, 길이가 30 미만인 데이터는 무시해주세요. **

In [6]:
# write your code here!

** 4. 신문사별로 "호재" 라는 단어가 포함된 신문기사를 사용한 횟수를 출력해주세요. **

In [7]:
# write your code here!

** 5. '럭키금성'이라는 단어를 LG로 바꿔주세요. **

In [8]:
# write your code here!

** 6. '태도'라는 단어가 들어간 뉴스기사만 출력해주세요. **

In [9]:
# write your code here!

** 7. '은행'이라는 단어와 '대출'이라는 단어가 들어간 뉴스기사만 출력해주세요. **

In [10]:
# write your code here!

** 8. 신문사별로 '경제'라는 단어가 들어간 신문기사를 작성한 횟수를 출력해주세요. **

In [11]:
# write your code here!

** 9. '심벌'이라고 되어있는 단어를 전부 '심볼'이라고 바꿔주세요. **

가령 "심벌마크.구단명칭등 곧 결정키로" 라는 문장은 "심볼마크.구단명칭등 곧 결정키로 " 가 되어야 합니다.

In [12]:
# write your code here!

** 10. 9번에서 작업한 결과를 파이썬의 pickle을 활용해 임시로 저장해주세요. **

파일명은 자유이지만, history 라는 이름의 폴더 안에 저장해주세요. 단 history라는 이름의 폴더가 존재하지 않는다면 파이썬 코드로 새로 만들어주셔야 합니다.

In [13]:
# write your code here!

## 실습(중급)

** 11. 대전일보의 신문기사만 가져와 get_dummies로 쪼개주세요. 단어 갯수를 쪼개는 기준은 스페이스로 간주합니다. **

In [14]:
# write your code here!

** 12. 11번에서 단어(column)에 2002년이라는게 포함된 컬럼만 보여주세요. **

In [15]:
# write your code here!

** 13. 11번에서 단어(column)의 길이가 3개 이상인 컬럼만 보여주세요. **

In [16]:
# write your code here!

** 14. 각 신문기사마다 전체 단어의 갯수를 세주세요. **

여기서 단어의 갯수와 텍스트의 길이는 다릅니다. 가령 "감자는 맛있어" 에서 텍스트의 길이는 스페이스를 포함해 7개이지만, 단어의 갯수는 두 개로 간주합니다. 또한 문장을 단어로 쪼개는 기준은 스페이스로 가정합니다.

In [17]:
# write your code here!

** 15. 14번에서 단어의 갯수가 10개 미만인 데이터는 무시해주세요. **

In [18]:
# write your code here!

## 실습(고급)

** 16. 한글을 제외한 나머지(특수기호, 한자, 숫자)를 제거하시오. **

In [19]:
# write your code here!

** 17. 한글과 숫자를 제외한 나머지(특수기호, 한자)를 제거하시오. **

In [20]:
# write your code here!

** 18. get_dummies와 유사한 결과를 만들되, 문장을 스페이스가 아닌 konlpy를 사용하여 쪼개주세요. **

[konlpy](http://konlpy.org/)는 한국어 형태소 분석기입니다. 문장을 단어로 쪼갤 때 스페이스로 쪼개는 것 보다 konlpy로 쪼개는게 훨씬 더 결과가 좋습니다. 자세한 내용과 사용법은 홈페이지에서 확인해주세요.

단, 데이터가 너무 많기 때문에 ```get_dummies```를 할 떄는 전체 데이터중에 100개만 해주셔도 됩니다. (ex: ```data = data[0:100]```)

In [21]:
# write your code here!

** 19. 18번 데이터에서, 전체 데이터 기준 단어 발생 빈도가 너무 높거나(1000번 초과), 너무 낮은(10번 미만) 컬럼은 제거하세요. **

In [22]:
# write your code here!

** 20. 19번 데이터를 기준으로, 단어의 발생 빈도가 가장 높은 순으로 컬럼을 정렬해주세요. **

In [23]:
# write your code here!